@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
    /* font-optical-sizing: auto;
        font-weight: auto;
        font-style: normal; */
}

nav {
    /* Sets the stacking order of an element to be above other elements, with the !important rule giving it the highest priority. */
    z-index: 10001 !important;
}

/* Using Custom Classes in Tailwind */
.gradientBg {
    background: linear-gradient(169.65deg, #67457C -0.36%, #59A3F9 27.8%, #59A3F9 27.8%);
}

.btnPrimary {
    @apply py-3 px-8 bg-[#9452bd] text-white rounded-lg hover:bg-[#6c408c] transition-all duration-300;
}

.btnSecondary {
    @apply py-3 px-8 bg-[#6d54db] text-white rounded-lg hover:bg-[#463988] transition-all duration-300;
}

